# Ignore environment variables
.env
.env.local
.env.*.local

# Next.js build output
.next/
out/

# Logs
logs
*.log

# Dependency folders
node_modules/

# System files
.DS_Store

# Ignore uploads (optional)
uploads/
